@using YourMoney.Common

@model YourMoney.Web.Models.Deposits.DetailsDepositViewModel

@{
    ViewData["Title"] = "Детайли на депозита";
}

<div class="container">
    <h1>@this.ViewData["Title"]</h1>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @*@Html.DisplayNameFor(model => model.Name)*@
                <label asp-for="Name"></label>
            </dt>   
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @*@Html.DisplayNameFor(model => model.BankName)*@
                <label asp-for="BankName"></label>
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BankName)
            </dd>
        </dl>

        <div>
            <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
                Лихвени условия
            </a>
        </div>
        <hr />
        <div class="collapse multi-collapse" id="multiCollapseExample1">
            <dl class="row">
                <dt class="col-sm-2">
                    @*@Html.DisplayNameFor(model => model.DepositType)*@
                    <label asp-for="DepositType"></label>
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DepositType)
                </dd>
                <dt class="col-sm-2">
                    @*@Html.DisplayNameFor(model => model.ContractualInterest)*@
                    <label asp-for="ContractualInterest"></label>

                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ContractualInterest)

                </dd>
                <dt class="col-sm-2">
                    @*@Html.DisplayNameFor(model => model.InterestType)*@
                    <label asp-for="InterestType"></label>

                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.InterestType)
                </dd>
                <dt class="col-sm-2">
                    @*@Html.DisplayNameFor(model => model.InterestCapitalize)*@
                    <label asp-for="InterestCapitalize"></label>

                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.InterestCapitalize)

                </dd>
                <dt class="col-sm-2">
                    @*@Html.DisplayNameFor(model => model.InterestPayment)*@
                    <label asp-for="InterestPayment"></label>
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.InterestPayment)

                </dd>
                <dt class="col-sm-2">
                    @*@Html.DisplayNameFor(model => model.MonthlyAccrual)*@
                    <label asp-for="MonthlyAccrual"></label>
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MonthlyAccrual)

                </dd>
            </dl>
        </div>
        <hr />
        <div>
            <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample2" role="button" aria-expanded="false" aria-controls="multiCollapseExample2">
                Основни параметри на избрания депозит
            </a>
        </div>
        <hr />
        <div class="collapse multi-collapse" id="multiCollapseExample2">
            <dl class="row">
                <dt class="col-sm-2">
                    @*@Html.DisplayNameFor(model => model.Currency)*@
                    <label asp-for="Currency"></label>

                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Currency)

                </dd>
                <dt class="col-sm-2">
                    @*@Html.DisplayNameFor(model => model.DepositFor)*@
                    <label asp-for="DepositFor"></label>

                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DepositFor)

                </dd>
                <dt class="col-sm-2">
                    @*@Html.DisplayNameFor(model => model.MaximumAmount)*@
                    <label asp-for="MaximumAmount"></label>

                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MaximumAmount)

                </dd>
                <dt class="col-sm-2">
                    @*@Html.DisplayNameFor(model => model.MinimumAmount)*@
                    <label asp-for="MinimumAmount"></label>

                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MinimumAmount)

                </dd>
                <dt class="col-sm-2">
                    @*@Html.DisplayNameFor(model => model.MaximumMonthPeriod)*@
                    <label asp-for="MaximumMonthPeriod"></label>

                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MaximumMonthPeriod)

                </dd>
                <dt class="col-sm-2">
                    @*@Html.DisplayNameFor(model => model.MinimumMonthPeriod)*@
                    <label asp-for="MinimumMonthPeriod"></label>

                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MinimumMonthPeriod)
                </dd>
                <dt class="col-sm-2">
                    @*@Html.DisplayNameFor(model => model.ValidDepositDeadlines)*@
                    <label asp-for="ValidDepositDeadlines"></label>

                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ValidDepositDeadlines)

                </dd>
            </dl>
        </div>
        <hr />
        <div>
            <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample3" role="button" aria-expanded="false" aria-controls="multiCollapseExample3">
                Опции
            </a>
        </div>
        <hr />
        <div class="collapse multi-collapse" id="multiCollapseExample3">
            <dl class="row">
                <dt class="col-sm-2">
                    @*@Html.DisplayNameFor(model => model.ValidForCustomer)*@
                    <label asp-for="ValidForCustomer"></label>

                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ValidForCustomer)

                </dd>
                <dt class="col-sm-2">
                    @*@Html.DisplayNameFor(model => model.CreditOpportunity)*@
                    <label asp-for="CreditOpportunity"></label>

                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CreditOpportunity)

                </dd>
                <dt class="col-sm-2">
                    @*@Html.DisplayNameFor(model => model.OverdraftOpportunity)*@
                    <label asp-for="OverdraftOpportunity"></label>

                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.OverdraftOpportunity)

                </dd>
                <dt class="col-sm-2">
                    @*@Html.DisplayNameFor(model => model.IncreasingAmount)*@
                    <label asp-for="IncreasingAmount"></label>

                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IncreasingAmount)

                </dd>
                <dt class="col-sm-2">
                    @*@Html.DisplayNameFor(model => model.AdditionalTerms)*@
                    <label asp-for="AdditionalTerms"></label>

                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.AdditionalTerms)

                </dd>
                <dt class="col-sm-2">
                    @*@Html.DisplayNameFor(model => model.Bonuses)*@
                    <label asp-for="Bonuses"></label>

                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Bonuses)
                </dd>
            </dl>
        </div>
        <hr />
    </div>
    <div>
        @if (this.User.IsInRole(GlobalConstants.AdminRoleName))
        {
            <a asp-area="Admin" asp-controller="Deposits" asp-action="Edit" asp-route-id="@Model.Id">Промени</a> @Html.Raw("|")
            <a asp-area="Admin" asp-controller="Deposits" asp-action="All">Назад към всички депозити</a>
        }
        else
        {
            <a asp-area="" asp-controller="Deposits" asp-action="All">Назад към всички депозити</a>
        }
    </div>
</div>